body
    {
        color: #555555;
        background: #EAEAEA;
        font-family: Arial, Helvetica, sans-serif;
    }

header
    {
        color: #FFFFFF;
        background-color: #002171;
        text-align: center;
    }

header a
    {
        /* header a:link and header a:visited are both covered by the parent header a selector */
        text-decoration: none;
        color: #FFFFFF;
    }

header a:hover
    {
        color: #90C7E3;
    }

main
    {
        padding-top: 1px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        display: block;
        background-color: #FFFFFF;
        padding-left: 30px;
        overflow: auto;
    }

nav
    {
        font-weight: bold;
        padding: 0;
        font-size: 120%;
        text-align: center;
    }

nav ul
    {
        list-style: none;
        margin: 0;
        padding-left: 0;
        font-size: 1.2em;
    }

nav li
    {
        border-bottom: 1px solid #000033;
    }

nav a
    {
        text-decoration: none;
    }

nav a:link
    {
        color: #5C7FA3
    }

nav a:visited
    {
        color: #344873
    }

nav a:hover
    {
        color: #A52A2A
    }

h1
    {
        margin-top: 0;
        margin-bottom: 0;
        font-family: Georgia, "Times New Roman", serif;
        letter-spacing: 0.25em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

h2
    {
        color: #1976D2;
        font-family: Georgia, "Times New Roman", serif;
        text-shadow: 1px 1px #CCCCCC;
    }

h3
    {
        color: #000033;
        font-family: Georgia, "Times New Roman", serif;
    }

dt
    {
        color: #002171;
    }

main ul
    {
        list-style-image: url("images/marker.gif");
    }

footer
    {
        font-size: 75%;
        font-style: italic;
        text-align: center;
        font-family: Georgia, "Times New Roman", serif;
        padding: 2em;
        background-color: #FFFFFF;
    }

.resort 
    {
        color: #1976D2;
        font-weight: bold;
    }

#contact
    {
        font-size: 90%;
    }

#wrapper
    {
        background-color: #90C7E3;
        background: linear-gradient(0deg, #90C7E3 0%, #FFFFFF 100%);
        background-repeat: no-repeat;
    }

#universal
    {
        box-sizing: border-box;
    }

.hero
    {
        grid-area: hero;
    }

#homehero 
    {
        background-image: url("images/coast2.jpg");
        height: 300px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

#yurthero 
    {
        background-image: url("images/yurt.jpg");
        height: 300px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

#trailhero
    {
        background-image: url("images/trail.jpg");
        height: 300px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }


@media screen and (min-width: 600px)
    {
        nav ul
            {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-evenly;
            }
        
        nav li
            {
                border-bottom: none;
            }
        
        section
            {
                margin-left: 2em;
                margin-right: 2em;
                flex: 1;
            }
        
        .flow
            {
                display: flex;
                flex-direction: row;
            }
    }


@media screen and (min-width: 1024px)
    {
        #wrapper
            {
                width: 80%;
                border: 1px solid #000033;
                margin: auto;
                filter: drop-shadow(3px 3px 3px #000033);
            }
        
        header
            {
                grid-area: header;
            }
        
        nav
            {
                text-align: left;
                padding-left: 1em;
                grid-area: nav;
            }
        
        main
            {
                grid-area: main;
            }
        
        footer
            {
                grid-area: footer;
            }
        
        @supports (display: grid)
            {
                nav ul
                    {
                        flex-direction: column;
                        padding-top: 1em;
                    }
                
                #wrapper
                    {
                        display: grid;
                        grid-template-rows: auto auto;
                        grid-template-columns: 180px 1fr;
                        grid-template: "header header"
                                       "nav hero"
                                       "nav main"
                                       "nav footer";
                    }
            }
    }