body
    {
        color: #555555;
        background: #EAEAEA;
        font-family: Arial, Helvetica, sans-serif;
    }

header
    {
        color: #FFFFFF;
        background-color: #002171;
        height: 120px;
        text-align: center;
        padding-top: 30px;
        padding-left: 3em;
    }

header a
    {
        /* header a:link and header a:visited are both covered by the parent header a selector */
        text-decoration: none;
        color: #FFFFFF;
    }

header a:hover
    {
        color: #90C7E3;
    }

main
    {
        padding-top: 1px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        display: block;
        background-color: #FFFFFF;
        margin-left: 190px;
        padding-left: 30px;
        overflow: auto;
    }

nav
    {
        font-weight: bold;
        padding: 1.5em;
        font-size: 120%;
        float: left;
        width: 160px;
    }

nav ul
    {
        list-style: none;
        margin: 0;
        padding-left: 0;
        font-size: 1.2em;
    }

nav a
    {
        text-decoration: none;
    }

nav a:link
    {
        color: #5C7FA3
    }

nav a:visited
    {
        color: #344873
    }

nav a:hover
    {
        color: #A52A2A
    }

h1
    {
        margin-top: 0;
        margin-bottom: 0;
        font-family: Georgia, "Times New Roman", serif;
        font-size: 3em;
        letter-spacing: 0.25em;
    }

h2
    {
        color: #1976D2;
        font-family: Georgia, "Times New Roman", serif;
        text-shadow: 1px 1px #CCCCCC;
    }

h3
    {
        color: #000033;
        font-family: Georgia, "Times New Roman", serif;
    }

dt
    {
        color: #002171;
    }

section
    {
        float: left;
        width: 33%;
        padding-left: 2em;
        padding-right: 2em;
    }

main ul
    {
        list-style-image: url("images/marker.gif");
    }

footer
    {
        font-size: 75%;
        font-style: italic;
        text-align: center;
        font-family: Georgia, "Times New Roman", serif;
        padding: 2em;
        margin-left: 190px;
        background-color: #FFFFFF;
    }

.resort 
    {
        color: #1976D2;
        font-weight: bold;
    }

#contact
    {
        font-size: 90%;
    }

#wrapper
    {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        background-color: #90C7E3;
        min-width: 960px;
        max-width: 2048px;
        box-shadow: 3px 3px #333333;
        border: 1px solid #000033;
        background: linear-gradient(#90C7E3 0%, #FFFFFF 100%);
        background-repeat: no-repeat;
    }

#universal
    {
        box-sizing: border-box;
    }

#homehero 
    {
        background-image: url("images/coast2.jpg");
        height: 300px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-left: 190px;
    }

#yurthero 
    {
        background-image: url("images/yurt.jpg");
        height: 300px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-left: 190px;
    }

#trailhero 
    {
        background-image: url("images/trail.jpg");
        height: 300px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-left: 190px;
    }