body
    {
        color: #555555;
        background: #90C7E3;
        background: linear-gradient(#90C7E3 0%, #FFFFFF 100%);
        background-repeat: no-repeat;
        font-family: Arial, Helvetica, sans-serif;
    }

header
    {
        color: #FFFFFF;
        background-color: #002171;
        background-image: url("images/sunset.jpg");
        background-repeat: no-repeat;
        background-position: right;
        height: 60px;
        text-align: center;
        padding-top: 15px;
    }

main
    {
        padding-top: 1px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        display: block;
    }

nav
    {
        background-color: #FFFFFF;
        font-weight: bold;
        text-align: center;
        padding: 1em;
    }

nav a
    {
        text-decoration: none;
    }

h1
    {
        margin-top: 0;
        margin-bottom: 0;
        font-family: Georgia, 'Times New Roman', serif;
    }

h2
    {
        color: #1976D2;
        font-family: Georgia, 'Times New Roman', serif;
        text-shadow: 1px 1px #CCCCCC;
    }

h3
    {
        color: #000033;
        font-family: Georgia, 'Times New Roman', serif;
    }

dt
    {
        color: #002171;
    }

ul
    {
        list-style-image: url("images/marker.gif");
    }

footer
    {
        font-size: 75%;
        font-style: italic;
        text-align: center;
        font-family: Georgia, 'Times New Roman', serif;
        padding: 2em;
    }

.resort 
    {
        color: #1976D2;
        font-weight: bold;
    }

#contact
    {
        font-size: 90%;
    }

#wrapper
    {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        background-color: #FFFFFF;
        min-width: 960px;
        max-width: 2048px;
        box-shadow: 3px 3px #333333;
    }

#homehero 
    {
        background-image: url("images/coast.jpg");
        height: 300px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

#yurthero 
    {
        background-image: url("images/yurt.jpg");
        height: 300px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

#trailhero 
    {
        background-image: url("images/trail.jpg");
        height: 300px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }