body 
    {
        color: #555555;
        background-color: #FFFFFF;
    }

h1 
    {
        color: #FFFFFF;
        background-color: #002171;
        margin-bottom: 0;
    }

nav 
    {
        background-color: #BBDEFB;
    }

h2 
    {
        color: #1976D2;
    }

dt
    {
        color: #002171;
    }

.resort 
    {
        color: #1976D2;
    }